@import 'tailwindcss';

@theme {
  --font-sans:
    'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';

  --color-brand-purple: #761be4;
  --color-brand-light: #ddd6fe;
  --color-bg-main: #f5f3ff;
  --color-text-dark: #1e1b4b;
  --color-error: #ed4545;
  --color-button-disabled: #cbb6e5;
}

body {
  background-color: var(--color-bg-main);
  color: var(--color-text-dark);
}

/* Remove default browser styling from range input */
input[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  padding: 0;
  display: block;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: var(--color-brand-purple);
  border-radius: 50%;
  cursor: pointer;
  margin-top: -6px;
}

input[type='range']::-webkit-slider-runnable-track {
  height: 4px;
  background: var(--color-brand-light);
  border-radius: 4px;
}

input[type='range']::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: var(--color-brand-purple);
  border-radius: 50%;
  cursor: pointer;
  border: none;
}

input[type='range']::-moz-range-track {
  height: 4px;
  background: var(--color-brand-light);
  border-radius: 4px;
}
